<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="logoTexto">@ViewData["Title"] - RainbowColor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RainbowColor.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand logoTexto" asp-area="" asp-controller="Home" asp-action="Index">RainbowColor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="Index">Produtos</a>
                        </li>
                        <div class="vr"></div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="ListaProdutos">Escolha os Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="IndexCarrinho">Carrinho</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="ListaPedidos">Pedidos</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container principal">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted rodape">
        <div class="container rodape">
            &copy; 2022 - RainbowColor
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript">
                $(window).on('load', function () {

                let msgSucess = '@TempData["Sucesso"]';

                if (msgSucess != '' && msgSucess != null)
                {
                    showMessage('success', msgSucess);
                }

                let msgError = '@TempData["Erro"]';

                if (msgError != '' && msgError != null)
                {
                    showMessage('danger', msgError);
                }
            });

            function showMessage(type, message, progressBar = false) {

            var icon = type == 'success' ? 'check' : 'info';
            var textTitle = type == 'success' ? 'Sucesso' : 'Erro';

                //Notify é um plugin jQuery para notificões
                $.notify({
                    title: '<strong><span class="fa fa-' + icon + '-circle"></span> ' + textTitle + '!</strong><br>',
                    message
                },
                {
                    allow_dismiss: true,
                    type: type,
                    showProgressbar: progressBar,
                    offset: {
                        x: 30,
                        y: 60
                    }
                });
            }


        </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<style>
    .rodape {
            background-color: antiquewhite;
    }

    .logoTexto
    {
    background: linear-gradient(to right, #fe01d1, #6dfa05);
    -webkit-background-clip: text;
    color: transparent !important;
    }
    

</style>
