@model RainbowColor.Endereco

@{
    ViewData["Title"] = "Editar Endereço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"] do cliente @ViewData["NomeCliente"]</h1>

<h4>Endereco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" asp-route-idCliente=@ViewData["IdCliente"]>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Logradouro" class="control-label"></label>
                <input asp-for="Logradouro" class="form-control" required/>
                <span asp-validation-for="Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" required/>
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" required/>
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            
            <div class="row">
                <div class="md-6 mt-2">
                    <div class="form-group text-right">
                        <input type="submit" value="Cadastrar" class="btn btn-outline-success" />
                        <a class="btn btn-outline-info" asp-route-idCliente=@ViewData["IdCliente"] asp-action="Index">Voltar para lista</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



